/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600');


/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1,
h2 {
	margin: 0;
	padding: 0;
}
