/*------------------------------------*    #VARIABLES
\*------------------------------------*/
/*------------------------------------*    #FUNCTIONS
\*------------------------------------*/
/*------------------------------------*    #MIXINS
\*------------------------------------*/
/**
 * Center the content in middle
 */
/**
 * Include font size in REM
 * 
 * @param  Number $font-size
 * @param  String $line-height: auto
 * @return String
 */
/*------------------------------------*    #BASE
\*------------------------------------*/
html, body {
  height: 100%; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #83CC61;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222;
    text-decoration: underline; }

/**
  * Default styling for container
  */
.container {
  padding-top: 60px;
  padding-bottom: 60px; }

/**
  * Basic Stylings
  */
p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

/*------------------------------------*    #FONTS
\*------------------------------------*/
/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Basic typography style for copy text
 */
body {
  color: #222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h1,
h2 {
  margin: 0;
  padding: 0; }

/*------------------------------------*    #HELPERS
\*------------------------------------*/
/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/**
 * Margin Helpers
 */
.marg-top-small {
  margin-top: 15px; }

.marg-top-medium {
  margin-top: 25px; }

.marg-top-large {
  margin-top: 35px; }

/*------------------------------------*    #WELCOME
\*------------------------------------*/
.welcome {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: #383838; }

.brand {
  text-align: center; }

.brand-image {
  width: 150px;
  height: 150px;
  border: 8px solid #83CC61;
  border-radius: 50%; }

.brand-title {
  margin: 15px 0; }

/*------------------------------------*    #EDUCATION
\*------------------------------------*/
.education {
  position: relative;
  background-color: #ffc21a; }
  .education .fa {
    color: #FF4A4A; }

.education-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff; }

.education-school {
  font-weight: bold; }

.education-description {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

.education-courses {
  padding-left: 25px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

.graduation-cap {
  font-size: 80px;
  font-size: 5rem;
  line-height: 1.2; }

.old-school {
  width: 250px;
  height: 250px;
  fill: #FF4A4A; }

/*------------------------------------*    #HEADER
\*------------------------------------*/
/*------------------------------------*    #FOOTER
\*------------------------------------*/
/*------------------------------------*    #BUTTONS
\*------------------------------------*/
/*------------------------------------*    #SECTIONS
\*------------------------------------*/
.section {
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden; }

/*------------------------------------*    #HOME
\*------------------------------------*/

/*# sourceMappingURL=main.css.map */
