/*------------------------------------*\
    #WELCOME
\*------------------------------------*/

.welcome {
	color: $welcome-text-color;
	background-color: $welcome-bg-color;
}

.brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	
}

.brand-image {
	width: 150px;
	height: 150px;
	border: 8px solid $brand-color;
	border-radius: 50%;
}

.brand-title {
	margin: 15px 0;
}